@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css');

#map {
  height: 400px;
}

/* Змінює колір активної крапки */
.slick-dots li.slick-active button:before {
  color: #ff0000;
}

/* Змінює колір неактивної крапки */
.slick-dots li button:before {
  color: #000000;
}

.slick-dots {
  display: block;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 10px;
  line-height: 1;
  opacity: 0.5;
  color: #000;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #000;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.9),
      rgba(47, 48, 58, 0.9)
    ),
    url('/public/img/bodyBackground2.jpg');
  background-repeat: repeat;
  background-position: fill;
  background-size: 250px;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: 'Circe', sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  display: block;
  cursor: pointer;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  fill: currentColor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
